body {
    margin: 0;
}

.main-app-container {
    margin: 8px 16px;
}

.locks-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .lock-cards {
        display: inline-block;
        list-style: none;
        margin: 4px 8px;

        .unlock-btn-icon {
            font-size: 0.8em;
        }
    }
}

